@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.css';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/*
body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

header {
    background: #223957;
}

header > .header-top {
    height: 60px;
}

header > .header-top > .header-top-logo > img {
    margin: 15px 30px;
}

.header-top-search-query {
    width: 80%;
    margin-top: 10px;
    padding: 1%;
    border-radius: 20px;
}

.header-top-search-need-help {
    color: #fff;
    margin-left: 20px;
}

.header-top-login-container {
    margin-top: 18px;
    float: right;
}

.header-top-login-container > .header-top-login {
    margin: 0 10px;
    color: #fff;
}

.header-top-login-container > .header-top-register {
    margin: 0 10px;
    color: #fff;
}

header > .header-nav {
    height: 30px;
    background: #122238;
    color: #fff;
}

header > .header-nav:hover {
    color: #ccc;
    cursor: pointer;
}

main > .car-search {
    height: 300px;
    background: #d2ccec;
}

footer {
    height: 300px;
    background: #000;
}

.car-search > .car-search-notice > h1 {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.car-search > .car-search-notice > h2 {
    padding-top: 10px;
    font-size: 16px;
}

.car-search > .car-search-form {
    width: 80%;
    height: 150px;
    margin: 2% 10%;
    background: #fff;
    border-radius: 10px;
}

.car-search > .car-search-form > .car-search-form-bottom {
    background: #f5e8dc;
}

input, select {
    display: inline-block;
    width: 10em;
}

label {
    display: inline-block;
    width: 10em;
    margin-right: .5em;
    padding-top: 1.5em;
}

.advertisement-container {
    padding: 2%;
}

.advertisement-container > .advertisement-item {
    padding: 2%;
}

.advertisement-container > .advertisement-item h1 {
    font-size: 30px;
    font-weight: bold;
}
